In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [20]:
df = pd.read_csv('risco_de_credito.csv')

In [21]:
df.head(2)

,id,idade,genero,regiao,renda,casado,filhos,carro,poupanca,ato,hipoteca,tem_iniciativa
0,ID12102,40,MALE,TOWN,"$30,085",YES,3,YES,NO,YES,YES,NO
1,ID12103,51,FEMALE,INNER_CITY,"$16,575",YES,0,YES,YES,YES,NO,NO

In [22]:
df.tail(2)

,id,idade,genero,regiao,renda,casado,filhos,carro,poupanca,ato,hipoteca,tem_iniciativa
598,ID12685,33,MALE,TOWN,"$23,528",YES,1,NO,YES,YES,YES,YES
599,ID12694,65,MALE,SUBURBAN,"$51,417",YES,2,NO,YES,YES,NO,YES

In [23]:
df.columns

Index(['id', 'idade', 'genero', 'regiao', 'renda', 'casado', 'filhos', 'carro',
       'poupanca', 'ato', 'hipoteca', 'tem_iniciativa'],
      dtype='object')

In [24]:
df = df.drop('id',axis=1, inplace=True)